////
/// Default layouts
///
/// @group  Layouts
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/splendid-portfolio
////

.site-content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 72.75rem; // 1164px
    padding: 1.125rem; // 18px
}

.home {
    &.blog {
        .no-sidebar {
            .content-area {
                margin: 0 auto;
                max-width: 640px;
            }
        }

        .left-sidebar {
            .content-area {
                float: right;
                width: 68.728522336769759%;
            }
        }

        .right-sidebar {
            .content-area {
                float: left;
                width: 68.728522336769759%;
            }
        }
    }
}

.single,
.page {
    .no-sidebar {
        .content-area {
            margin: 0 auto;
            max-width: 640px;
        }
    }
    
    .left-sidebar {
        .content-area {
            float: right;
            width: 68.728522336769759%;
        }
    }

    .right-sidebar {
        .content-area {
            float: left;
            width: 68.728522336769759%;
        }
    }
}