////
/// Default content.
///
/// @group  Components
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://luthemes.com/portfolio/splendid-portfolio
////

.home {
    &.blog {
        article {
            &.post {
                box-sizing: border-box;
                margin-bottom: 3rem;
            
                &.sticky {
                    background: #eeeeee;
                    padding: 1.125rem;
                }
            
                .entry-header {
                    padding: 1.125rem;
                    text-align: center;
            
                    .entry-title {
                        margin: 0;
                        padding: 0;
                    }
                }
            
                .entry-metadata {
                    margin: 0.2rem 0;
                    .fa-user,
                    .fa-calendar-alt,
                    .fa-comment {
                        padding: 0 0.5rem;
                    }
                }
            
                .entry-taxonomies {
                    font-size: 0.875rem;
                }
            }
        }
    }
}